.DS_Store
*.swp
*.swo
*~
.idea/
.vscode/
!bricks/agentic_app/__brick__/{{project_name.snakeCase()}}/.idea/
!bricks/agentic_app/__brick__/{{project_name.snakeCase()}}/.idea/runConfigurations/
!bricks/agentic_app/__brick__/{{project_name.snakeCase()}}/.idea/runConfigurations/*.xml
!bricks/agentic_app/__brick__/{{project_name.snakeCase()}}/.vscode/
!bricks/agentic_app/__brick__/{{project_name.snakeCase()}}/.vscode/launch.json
!bricks/agentic_app/__brick__/{{project_name.snakeCase()}}/.vscode/settings.json
.dart_tool/
pubspec.lock
my_app/
